<ul id="artist-list">Artists
  <li><button class="get-artist-button">Sample Artist</button></li>
  <% @artists.each do |artist| %>
    <li>
      <button class="get-artist-button" name="<%= artist.id %>">
        <%= artist.name %>
      </button>
      <%= button_to "X", artist_path(artist.id), method: :delete %>
    </li>
  <% end %>
</ul>