<header class="welcome-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="tagline">Lyric Charts</h1>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    
    <div class="col-sm-4">
      <img class="img-circle img-responsive img-center" src="assets/db-icon.png" alt="">
      <h2>Artist Database</h2>
      <p>Look up your favorite artist in the massive database</p>
    </div>

    <div class="col-sm-4">
      <img class="img-circle img-responsive img-center" src="assets/chart-icon.png" alt="">
      <h2>Charts</h2>
      <p>Donut chart and bar chart provide different perspectives of the data</p>
    </div>

    <div class="col-sm-4">
      <img class="img-circle img-responsive img-center" src="assets/light-bulb-icon.png" alt="">
      <h2>Vocabulary</h2>
      <p>Filter data by word size</p>
    </div>
  
  </div>
</div>