<div id="artist-name">Artist Data</div>
<div id="count-table">
	<div class="table-row">
		<%= @wc_data.each do |wc| %>
			<div class="word-col"><%= wc.word %></div>
			<div class="count-col"><%= wc.count.to_s %></div>
		<% end %>
	</div>
</div>