@import "variables";

#search-container {
  margin: $marg;
}

#sidebar-container {
  float: left;
  width: 20%;
  position: fixed;
  left: 0;
  margin: 1.5%;
}

#charts-container {
  width: 70%;
  position: absolute;
  left: 25%;
  margin: 1.5%;
}

.get-artist-button {
  float: left;
}